@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);


/*
Basic positions and centering
*/
body {
	background: black;
	color: white;
	margin: 0 auto;
	text-align: center;
	transform: translateY(60%);
}

/*
Text color and other styles
*/
html {
	font-family: 'Exo', sans-serif;
}
h1 {
	font-size: 35px;
}
p {
	font-size: 15px;
	padding: 10px;
}
span {
	color: #5379fa !important;
}

/*
Form
*/
form {
	padding: 20px;
	margin: 20px auto;
}
input {
	border: 0;
	font-size: 15px;
	padding: 10px;
}	    
input[type="submit"]{
	background: red;
	color: white;
}

/*
Hyperlinks
*/
a {
	text-decoration: none;
}

/* 
Responsive
*/
@media (max-width: 650px) {
	body {
		transform: translateY(0);
	}
	form {
		display: inline-block;		
		width: 275px;		
	}
	input {
		margin: 5px;
	}
}