<!DOCTYPE html>
<html>

    <head>
    	<title>Pontinotas - Ficha Académica UC en PDF</title>
  		<meta charset=utf-8>
        <meta name="description" content="Una simple aplicacion para facilitar la vida de la comunidad universitaria de la PUC, por Antonio Ossa. Obten tu Ficha Academica Acumulada UC en pdf.">
        <link rel="author" href="https://github.com/aaossa"/>

		<link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" media="screen"> 
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-65011284-2', 'auto');
		  ga('send', 'pageview');

		</script>
    </head>

	<body>

		<h1>Ponti<span>Notas</span></h1>

		<p> Ingresa tus credenciales para generar un pdf similar al que existía antes en el PortalUC. 
		<br>
		<span>Así de simple.</span> Tarda un poco en cargar, pero estamos en ello :)</p>

		<form method="POST" action="/login">
			<input name="usuario" type="text" placeholder="Usuario UC">
			<input name="password" type="password" placeholder="Clave">
			<input type="submit" value="Generar">
		</form>

		<p>Todo el código está disponible en <a href="https://github.com/aaossa/pontinotas"><span>GitHub</span></a></p>

	</body>
</html>
