<!DOCTYPE html>
<html>

    <head>
    	<title>Compartelo y opina :)</title>
        <meta charset=utf-8>
        <meta name="description" content="Una simple aplicacion para facilitar la vida de la comunidad universitaria de la PUC, por Antonio Ossa">
        <link rel="author" href="https://github.com/aaossa"/>

		<link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" media="screen">
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-65011284-2', 'auto');
		  ga('send', 'pageview');

		</script>
    </head>

    <body>
    	
        <h1>Ponti<span>Notas</span></h1>

        <p> Gracias por usar esta pequeña página. Lamento que tardara, pero al menos funciona no?</p>

        <p> Esta página fue desarrollada por mi, <a href="https://github.com/aaossa"><span>Antonio Ossa</span></a>, y puedes encontrar toooodo el código base en <a href="https://github.com/aaossa/pontinotas"><span>este repo de GitHub</span></a>. Ahí también se encuentran todos los recursos de otros autores utilizados durante el proceso que acabas de hacer :). Por último, cualquier comentario o duda puedes enviarlo a mi mail: <span>aaossa@uc.cl</span>. </p>

    </body>

</html>
