<!DOCTYPE html>
<html>

    <head>
        <title>Descarga tu PDF</title>
        <meta charset=utf-8>
        <meta name="description" content="Una simple aplicacion para facilitar la vida de la comunidad universitaria de la PUC, por Antonio Ossa">
        <link rel="author" href="https://github.com/aaossa"/>

        <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" media="screen"> 
        
        <!-- pdfmake: https://github.com/bpampuch/pdfmake/ -->
        <script src="{{ url_for('static',filename='js/pdfmake/pdfmake.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/pdfmake/vfs_fonts.js') }}"></script>
        <!-- Script necesario para generar el pdf con pdfmake-->
        <script src="{{ url_for('static',filename='js/generatePdf.js') }}"></script>
        <!-- Script Flask a JavaScript-->
    </head>

    <body>
        <div class="container">
        <div class="helper">
            <div class="header">
                <div>Ponti<span>Notas</span></div>
            </div>
            <form method="POST" action="{{ url_for('out') }}">
                <ul>
                    <li><input type="submit" value="Obtener .pdf" onClick="Download(info, user);"></li>
                </ul>
            </form>
        </div>
        </div>

        <script>
            var info = JSON.parse('{{ data|safe }}');
            var user = '{{ username|safe }}';
        </script>
    </body>

</html>